body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8fbfd;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.error-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.warning-icon {
    width: 80px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

button {
    background-color: #0b258a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0b258a;
}
