.team24-footer {
    /*all: unset; !* 모든 스타일 초기화 (부트스트랩 영향 제거) *!*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    /*color: black;*/
    padding: 10px 0;
    z-index: 100;
    border-top: 2px solid #003366;

    margin-left: 0; /* 초기 값 */
    transition: margin-left 1s ease; /* 0.3초 동안 margin-left 변경 시 부드럽게 */
}

.team24-footer a {
    color: #000; /* 링크 색상 검정 */
    text-decoration: none; /* 밑줄 제거 */
}

.team24-footer a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

.team24-footer-padding {
    height: 100px;
}

.team24-sidebar.open ~ .team24-footer {
    margin-left: 120px;
    transition: margin-left 0.5s ease; /* 컨테이너 부드럽게 이동 */
}

