.team24-footer {
    position: fixed; /* 화면 하단에 고정 */
    left: 0;
    bottom: 0; /* 하단 고정 */
    width: 100%; /* 페이지 전체 너비 */
    text-align: center;
    background-color: #fff; /* 배경색 흰색 */
    color: black; /* 글자 색 검정 */
    padding: 10px 0;
    z-index: 10; /* 다른 요소보다 위에 표시 */
    flex-shrink: 0; /* 푸터가 줄어들지 않도록 설정 */
    /*margin-left: 50px;*/
}

.team24-footer a {
    color: #000; /* 링크 색상 검정 */
    text-decoration: none; /* 밑줄 제거 */
}

.team24-footer a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

.team24-footer-padding {
    height: 100px;
}