:root {
    --footer-bg-light: #fff;
    --footer-text-light: #000;
    --footer-border-light: #000;

    --footer-bg-dark: #222;
    --footer-text-dark: #fff;
    --footer-border-dark: #555;
}

.team24-footer {
    all: unset;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 100;
    border-top: 2px solid var(--footer-border-light);

    background-color: var(--footer-bg-light);
    color: var(--footer-text-light);

    margin-left: 0; /* 초기 값 */
    transition: margin-left 1s ease; /* 0.3초 동안 margin-left 변경 시 부드럽게 */
}

/* 다크모드일 때 자동 변경 */
[data-theme="dark"] .team24-footer {
    background-color: var(--footer-bg-dark);
    color: var(--footer-text-dark);
    border-top: 2px solid var(--footer-border-dark);
}

.team24-footer a {
    color: inherit;
    text-decoration: none;
}

.team24-footer a:hover {
    text-decoration: underline;
}

.team24-footer-padding {
    height: 100px;
}

.team24-sidebar.open ~ .team24-footer {
    margin-left: 120px;
    transition: margin-left 0.5s ease; /* 컨테이너 부드럽게 이동 */
}