@charset "UTF-8";

/* SCDream */
@font-face{
    font-family: 'SCDream';
    font-weight: 300;
    src: url("../font/SCDream-Light.woff2") format('woff2'),
    url("../font/SCDream-Light.woff") format('woff');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 400;
    src: url("../font/SCDream-Regular.woff2") format('woff2'),
    url("../font/SCDream-Regular.woff") format('woff');
}
@font-face{
    font-family: 'SCDream';
    font-weight: 600;
    src: url("../font/SCDream-Bold.woff2") format('woff2'),
    url("../font/SCDream-Bold.woff") format('woff');
}
