<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes"/>
    <meta name="keywords" content="KT Avile School 6기 24조"/>
    <meta name="description" content="범죄와 전쟁 : AI 범죄모니터링 시스템은, 시민의 안전하고 행복한 생활을 위하여 24시간 방범관제 및 범죄자 예측을 제공하고 있습니다."/>

    <title>kt Aivle School 24조</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- css -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/font_ie8.css"/><![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cctv/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/top_button.css"/>

    <!-- js -->
    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script><![endif]-->
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/jquery.screen.min.js"></script>
    <script src="/js/jquery.menu.min.js"></script>
    <script src="/js/jquery.customForm.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/slick.extensions.min.js"></script>
    <script src="/js/layout.js"></script>
    <script src="/js/program.min.js"></script>
    <script src="/js/cctv/common.js"></script>
    <script src="/js/cctv/main.js"></script>
    <script src="/js/loading.js"></script>
    <script src="/js/top_button.js"></script>
    <script src="/js/myLogin.js"></script>


</head>


 🔥 로딩 화면
<body>
<div id="loading-screen">
    <div class="loading-text">
        <h1>kt AIVLE 6기 24조</h1>
        <p class="loading-text"> Please wait a moment...🚀</p>
    </div>
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
</div>
</body>


<!-- 헤더 -->
<div th:replace="~{fragments/header :: header}" class="header"></div>

<!-- 알림 -->
<div th:replace="~{fragments/notification :: notification}"></div>

<!-- 메인 콘텐츠 -->
<body id="cctv" class="cctv">
<div id="wrapper">
    <div id="container">
        <div class="rowgroup">
            <section class="visual">
                <h2 class="skip">비주얼</h2>
                <div class="visual_list">


                    <div class="visual_item">
                        <a target="_blank" rel="noopener noreferrer"
                           class="visual_anchor">
                                <span class="visual_intro">
                                    <span class="sub_title fade delay25">국민이 행복하고 범죄없는 나라 </span>
                                    <span class="visual_title fade delay50">kt Aivle 24조</span>
                                </span>
                        </a>
                    </div>

                    <div class="visual_item">
                        <a target="_blank" rel="noopener noreferrer"
                           class="visual_anchor">
                                <span class="visual_intro">
                                    <span class="sub_title fade delay25">국민이 행복하고 범죄없는 나라 </span>
                                    <span class="visual_title fade delay50">kt Aivle 24조</span>
                                </span>
                        </a>
                    </div>

                </div>
                <div class="visual_control">
                    <div class="visual_count">
                        <span class="visual_current slick-text"></span>
                        <span class="progress on"><span></span></span>
                        <span class="visual_total slick-text"></span>
                    </div>
                    <div class="visual_btn">
                        <button type="button" class="visual_prev slick-arrow" title="이전" style="">이전</button>
                        <button type="button" class="visual_next slick-arrow active" title="다음" style="">다음</button>
                    </div>
                </div>
            </section>
        </div>

        <div class="rowgroup2">
            <section class="info">
                <div class="wrap">
                    <h2 class="info_title fade">시민 안전 스마트 도시! AI 범죄 예방 </h2>
                    <div class="info_text fade">
                        범죄와의 전쟁 팀은 CCTV 실시간 관제를 통한 범죄 예방 뿐만 아니라<br>
                        범죄자(수배) 색출까지 시행하며, 시민의 안전과 행복에 힘을 기울이고 있습니다.
                    </div>

                    <div class="info_list fade">
                        <div class="info_item">
                            <a href="ai_introduce/ai_introduce" class="info_anchor">
                                <span class="info_image">
                                    <img src="/images/AI.jpeg" alt="AI 이미지">
                                </span>
                                <!-- 이미지 아래에 추가할 텍스트 -->
                                <span class="info_caption">AI 기술 소개</span>
                            </a>
                        </div>
                        <div class="info_item">
<!--                            <a href="/police/police_google_map" class="info_anchor">-->
                                <a href="/notification/police_map" class="info_anchor">
                <span class="info_image">
                  <img src="/images/police_im.jpg" alt="파출소 이미지">
                </span>
                                <span class="info_caption">경찰서 위치</span>
                            </a>
                        </div>
                        <div class="info_item">
<!--                            <a href="/cctv/google_map" class="info_anchor">-->
                                <a href="/cctv/gwangju_cctv" class="info_anchor">
                <span class="info_image">
                  <img src="/images/info_img3.png" alt="CCTV 이미지">
                </span>
                                <span class="info_caption">CCTV 위치</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div class="rowgroup3">
            <section class="data">
                <h2 class="skip">데이터</h2>
                <div class="wrap">
                    <div class="databox n2 fade">
                        <div class="image_container"></div>
                    </div>
                </div>
            </section>
        </div>

        <div class="rowgroup4">
            <section class="center">
                <div class="wrap">
                    <h2 class="skip">조 </h2>
                    <div class="center_text fade delay50">
                        <span>국민이 안심할 수 있는 범죄 예방,</span>
                        <span><em>kt Aivle School 24조</em>가</span>
                        <span> 앞장서겠습니다.</span>
                    </div>
                    <div class="center_inner fade delay50">
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<!-- 맨 위로 이동 버튼 -->
<img src="/images/model_image/top_button.png" id="topButton" class="top-button" alt="맨 위로 이동 버튼">
</body>

<!--푸터-->
<div th:replace="~{fragments/footer :: footer}" id="footer"></div>

</html>