<div th:fragment="header" class="team24-header" id="team24-header">
    <!-- 로고와 텍스트 -->
    <span class="team24-greeting">
        <a href="/" id="team24-logo">
            <img th:src="@{/images/tmp/kt.png}" alt="KT 로고">
        </a>
        <span class="team24-greeting-text">AI 전남 / 전북 24조 화이팅!</span>
    </span>

    <!-- 로그인/로그아웃 버튼 -->
    <div class="team24-header-buttons">
        <!-- 로그인 버튼 -->
        <a th:if="${!isUser and !isAdmin}" class="team24-btn-outline-light team24-custom-button" href="/login">로그인</a>

        <!-- 로그아웃 버튼 -->
        <form th:if="${isUser or isAdmin}" action="/logout" method="post" class="team24-logout-form">
            <input type="hidden" id="_csrf" name="_csrf" th:value="${_csrf.token}">
            <button class="team24-btn-outline-light team24-custom-button" type="submit">로그아웃</button>
        </form>
    </div>

</div>
